<span class="pulling {{if wePulled 'we-pulled' 'they-pulled'}} round-edges white" {{action toggleProperty 'wePulled'}}>Pulling</span>

<div class="flex-10 layout-row">
  {{#if inPlay}}
    {{#paper-button onClick=(action 'recordScore' true) class="green flex-50"}}
      We scored!
    {{/paper-button}}

    {{#paper-button onClick=(action 'recordScore' false) class="red flex-50"}}
      They scored...
    {{/paper-button}}
  {{else}}
    {{#paper-button onClick=(action toggleProperty 'inPlay') class="white flex"}}
      Done Subs
    {{/paper-button}}
  {{/if}}
</div>

<div class="players layout-row flex">
  <span class="flex-5"></span>

  {{#if inPlay}}
    {{game/field-stats
        class="flex-45"
        clickStat=(action 'clickStat')
        closeGame=(action 'closeGame')
        resetLine=(action toggleProperty 'inPlay')
    }}
  {{else}}
    {{game/player-list
        team=team
        players=benchMen
        clickPlayer=(action 'clickPlayer')
        class="flex-25"
    }}
    {{game/player-list
        team=team
        players=benchWomen
        clickPlayer=(action 'clickPlayer')
        class="flex-25"
    }}
  {{/if}}

  <span class="flex"></span>

  <div class="flex-25">
    {{game/player-list
        team=team
        players=fieldWomen
        clickPlayer=(action 'clickPlayer')
    }}
    {{game/player-list
        team=team
        players=fieldMen
        clickPlayer=(action 'clickPlayer')
    }}

    {{#unless inPlay}}
      {{#paper-button class="flex-5 white" onClick=(action 'clearLine')}}
        Clear line
      {{/paper-button}}
    {{/unless}}
  </div>

  <span class="flex-5"></span>
</div>
