<div class="layout-row">
  <span class="flex-55">{{player.handle}}</span>
  <span class="flex-10"><b>{{oPoints.length}}</b></span>
  <span class="flex-10">{{oPlusMinus}}</span>
  <span class="flex-10"><b>{{dPoints.length}}</b></span>
  <span class="flex-10">{{dPlusMinus}}</span>
</div>
