<div class="layout-column {{colorClass}}" {{action toggleProperty 'showExpanded'}}>
  <div class="flex layout-row">
    <p class="flex-25">{{game.ourScore}} - {{game.theirScore}}</p>
    <p class="flex"> vs. {{if game.opponentName game.opponentName 'Those guys'}}</p>
  </div>
  {{#if showExpanded}}
    <div class="flex layout-row">
      <p>expanded</p>
      {{!-- go to game --}}
    </div>
  {{/if}}
</div>
