  <div class="layout-column layout-align-center-center flex">
    <h2>Ketch Ultimate</h2>

    <span class="flex-5"></span>

    <label>Email*</label>
    {{input value=model.email onChange=(mut model.email) required=true}}

    <label>Password*</label>
    {{input value=model.password onChange=(mut model.password) type='password' required=true}}

    <label>Verify Password*</label>
    {{input value=model.passwordConfirmation onChange=(mut model.passwordConfirmation) type='password' required=true}}

    <span class="flex-10"></span>

    <div class="flex-10">
      {{#paper-button class="flex-75" raised=true onClick=(action 'createUser')}}
        Sign up
      {{/paper-button}}
    </div>

    <div class="flex-10">
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </div>

    <p>Or click here to {{link-to 'Login' 'login' class="hyperlink"}}</p>

    <span class="flex"></span>
  </div>
